<%= form_for([@article, @article.comments.build]) do |f| %>
    <div style="margin-left: 30px; margin-top: 10px;">
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter, size: "50" %>
    </div>
    <div style="margin-left: 30px; margin-top: 10px;">
      <%= f.label :body %><br>
      <%= f.text_area :body , size: "60x5"%>
    </div>
    <div style="margin-left: 30px; margin-top: 20px;">
      <%= f.submit "提交"%>
    </div>

<% end %>