<%= form_for([@article, @article.comments.build]) do |f| %>
    <div>
      <%= f.label :タイトル %><br>
      <%= f.text_field :commenter, size: "50" %>
    </div>
    <div>
      <%= f.label :内容 %><br>
      <%= f.text_area :body , size: "60x5"%>
    </div>
    <div style="margin-top: 10px;">
      <%= f.submit "確定"%>
    </div>
<% end %>