<%= form_for @photo do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :file %><br>
      <%= f.file_field :file %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>