<div id="main_box">
<h3>写真をアプロード</h3>
<div>

<%= form_for :file_upload, :url => { :action => "upload" }, :html =>{:multipart => true} do |f| %>
    <%= f.file_field :myfile %>
    <%= f.submit "Upload" %>
<% end %>
</div>

<h1>全ての写真</h1>
  <div class="photo_content">
  <% @photo.each do |photo| %>
      <div class="photo_item" style ="float: left; margin: 10px;">
        <div><%= image_tag("/upload/"+photo.name ,:size => "400x400") %></div>
        <div class="image_info"><%= photo.id %> <%= photo.name %> <%= link_to '进入', photo_path(photo), :style=>"color:red;" %></div>
      </div>
  <% end %>
  </div>
</div>

