
<div id="main_box">
<div style="text-align: left"><h2>文章の編集</h2></div>
<div ng-app ="articleEdit" ng-controller ="articleEditController">
  <%= form_for @article do |f| %>
      <% if @article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited
              this article from being saved:</h2>
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title , size: "40x12"%>
      </div>
      <div style="margin-top: 20px;"><h2>文章一覧</h2></div>
      <div style="margin-top: 5px;">
        <p>{{articleText}}</p>
      </div>

      <div>
        <%= f.label :text %><br>
        <%= f.text_area :text, size: "80x15","ng-model" => "articleText" %>
      </div>
      <div style="margin-top: 10px;">
        <%= f.submit "提出"%>
      </div>
  <% end %>
</div>

<div style ="margin-top: 10px;">
  <button><%= link_to '戻る', articles_path %></button>
</div>
</div>

<script type="text/javascript">
    var app = angular.module("articleEdit", []);
    app.controller("articleEditController", function($scope) {
        $scope.articleText = $("#article_text").text(); //Jqueryでidがarticle_textである元素のテキスト値を戻し。
        //そしてangularJSのモデル値に設定
    });
</script>