<div style ="margin-top: 100px;margin-left: 30px;"><h1>所有文章</h1></div>
<div class="div1">
  <table class="blogtable">
    <thead>
    <tr>
      <th style="width: 4%;">ID</th>
      <th style="width: 20%;">标题</th>
      <th style="width: 50%;">内容</th>
      <th style="width: 26%;">管理</th>
    </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
        <tr>
          <td style="width: 4%;"><%= article.id %></td>
          <td style="width: 20%;"><%= article.title %></td>
          <td style="width: 50%;"><%= article.text[0, 30].gsub("<br/>"," ")%></td>
          <td style="width: 26%;">
            　<%= link_to '进入', article_path(article), :style=>"color:red;" %>
              <%= link_to '编辑', edit_article_path(article), :style=>"color:red;" %>
              <%= link_to '删除', article_path(article), :style=>"color:red;", method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<button class="button1"><%= link_to '新建博文', new_article_path %></button>

