<div id="main_box">
<div id="side_box">
 <button><%= link_to '新規文章', new_article_path %></button>
</div>
<div id ="content_box">
    <% @articles.each do |article| %>
      <div class ="article_title">
        <h3>
          <%= article.id %>　
          <%= link_to article.title, article_path(article)%>&nbsp;
        </h3>
      </div>
      <div class="article_content"><%= article.text.html_safe%></div>
      <div class="article_foot">
        <%= link_to '編集', edit_article_path(article)%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to '削除', article_path(article), :style=>"color:red;", method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        作成: <%= article.created_at %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        最新更新: <%= article.updated_at %>
      </div>
    <% end %>
</div>
</div>