<div style ="margin-top: 100px;margin-left: 30px;">
  <h2>标题:</h2>
  <%= @article.title %>
</div>

<div class="div1">
  <h2>正文:</h2>
  <%= @article.text %>
</div>

<div class="div1"><h4>评论</h4></div>
<%= render @article.comments %>

<div class="div1"><h4>添加评论:</h4></div>
<%= render "comments/form" %>

<button class="button1"><%= link_to '返回', articles_path %></button>
<button class="button1"><%= link_to '编辑博文', edit_article_path(@article) %></button>