<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>正文:</strong>
  <%= @article.text %>
</p>

<h2>评论</h2>
<%= render @article.comments %>

<h2>添加评论:</h2>
<%= render "comments/form" %>

<%= link_to '返回', articles_path %>
<%= link_to '编辑', edit_article_path(@article) %>