<div id="main_box">
<div style ="text-align: center">
  <h2><%= @article.title %></h2>
</div>

<div>
  <%= @article.text.html_safe%>
</div>

<div class="comments" style="margin-top: 30px;margin-bottom: 30px;">
<div><h3>コメント</h3></div>
<%= render @article.comments %>
<%= render "comments/form" %>
</div>
<button><%= link_to '戻る', articles_path %></button>
<button><%= link_to '文章編集', edit_article_path(@article) %></button>
</div>