<div id="main_box">
 <div class="title"> <h1>パンダ猫のブログ世界！</h1></div>

 <div id="home_image"  align="center" style="margin-top: 50px;">
  <%= image_tag("panda1.jpg", :size => "168x100") %>
  <%= image_tag("panda2.jpg", :size => "168x100") %>
  <%= image_tag("panda3.jpg", :size => "168x100") %>
  <%= image_tag("panda4.jpg", :size => "122x100") %>
 </div>
  <div  id ="navilink" align="center" style="margin-top: 50px;">
    <%= link_to 'ブログを見る', controller: 'articles' %>　 &nbsp; &nbsp; | &nbsp; &nbsp;
    <%= link_to '商品を見る', controller: 'products' %>　 &nbsp; &nbsp; | &nbsp; &nbsp;
    <%= link_to '写真を見る', controller: 'products' %>　 &nbsp; &nbsp; | &nbsp; &nbsp;
    <a href="/welcome/aboutme">私について</a>
  </div>
</div>
