<div id="main_box">
<h1>商品一覧</h1>
  <table class="blogtable">
    <thead>
    <tr>
      <th style="width: 10%;">商品番号</th>
      <th style="width: 20%;">商品名</th>
      <th style="width: 34%;">説明</th>
      <th style="width: 10%;">値段</th>
      <th style="width: 10%;">在庫</th>
      <th style="width: 6%;">残り</th>
      <th style="width: 10%;">販売終了</th>
    </tr>
    </thead>
    <tbody>
    <% @prod.each do |prod| %>
        <tr>
          <td style="width: 10%;"><%= prod.id %></td>
          <td style="width: 20%;"><%= prod.name %></td>
          <td style="width: 34%;"><%= prod.describe %></td>
          <td style="width: 10%;"><%= prod.price %></td>
          <td style="width: 10%;"><%= prod.status %></td>
          <td style="width: 6%;"><%= prod.count %></td>
          <td style="width: 10%;"><%= prod.discountdl %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
 </div>
