<div class="title"><h1>商品一览</h1></div>
<div class="blogcontentdiv">
  <table class="blogtable">
    <thead>
    <tr>
      <th style="width: 4%;">商品编号</th>
      <th style="width: 20%;">商品名</th>
      <th style="width: 40%;">商品简介</th>
      <th style="width: 10%;">价格</th>
      <th style="width: 10%;">在库状态</th>
      <th style="width: 6%;">剩余数量</th>
      <th style="width: 10%;">贩售截止日期</th>
    </tr>
    </thead>
    <tbody>
    <% @prod.each do |prod| %>
        <tr>
          <td style="width: 4%;"><%= prod.id %></td>
          <td style="width: 20%;"><%= prod.name %></td>
          <td style="width: 40%;"><%= prod.describe %></td>
          <td style="width: 10%;"><%= prod.price %></td>
          <td style="width: 10%;"><%= prod.status %></td>
          <td style="width: 6%;"><%= prod.count %></td>
          <td style="width: 10%;"><%= prod.discountdl %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
